html,body {
	font: 11pt arial;
	background-color: #d3d3d3; /* lightgray */
}

h1 {
	font-size: 150%;
	margin: 5px 0;
}

h2 {
	font-size: 100%;
	margin: 5px 0;
	text-align: right;
}

div.widget-header {
    margin: 12px 10px;
}

div.widget-header img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

div.view {
	width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 3px 0 3px 0;

    background-image: url('pt_background.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
}

img.cisco-logo {
    margin-top:10px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*float: right;*/
}

input[type=text],pre {
	border: 1px solid lightgray;
}

pre {
	margin: 0;
	padding: 5px;
	font-size: 10pt;
}

#network {
	width: 100%;
	height: 500px;
	border-bottom: 4px solid lightgray;
}

#overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
}

#overlay div {
	width: 300px;
	margin: 100px auto;
	background-color: #fff;
	border: 1px solid #000;
	padding: 15px;
	text-align: center;
}

#add-device-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
}

#add-device-overlay div {
	width: 300px;
	margin: 100px auto;
	background-color: #fff;
	border: 1px solid #000;
	padding: 15px;
	text-align: center;
}

/* select with custom icons */

select {
	width: 200px;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item {
	padding: 0.5em 0 0.5em 3em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
	height: 24px;
	width: 36px;
	top: 0.1em;
}

.ui-icon.cloud {
	background: url("cloud.png") 0 0 no-repeat;
	background-size: 36px 24px;
}
.ui-icon.pc {
	background: url("PC.png") 0 0 no-repeat;
	background-size: 36px 24px;
}
.ui-icon.router {
	background: url("router.png") 0 0 no-repeat;
	background-size: 36px 24px;
}
.ui-icon.switch {
	background: url("switch.png") 0 0 no-repeat;
	background-size: 36px 24px;
}

#device-type-button {
	vertical-align: middle;
}


/* Modification dialog */

#modify-device {
	padding: 0;
}

#modify-dialog-tabs {
	border: 0;
}

#modify-dialog-tabs .ui-widget-header {
	border-width: 0 0 1px 0;
	background-image: none;
	background-color: transparent;
}

#modify-dialog-tabs .ui-corner-all {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-width: 0px;
}

#modify-dialog-tabs .ui-tabs-panel {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-width: 1px;
}


/* Edit menu */

div.network-manipulationUI.connect {
	display: none;
}

div.network-manipulationUI.edit.edge {
	display: none;
}

div.network-seperatorLine {
	width: 0;
	margin: 5px 0 0px 0;
}

div.network-manipulationDiv {
	padding-top: 5px;
	height: 35px;
}


/* Drag and drop creation menu */

#creation-fieldset {
    border: 0px none;
	margin-top: 10px;
}

#creation-menu {
	width: 50%;
	margin: 0px auto;
}

#creation-menu figure {
	display:table-cell;
	width: 28%;
	margin: 0;
	text-align: center;
}

#creation-menu figure {
	display:table-cell;
	width: 20%;
	margin: 0;
	text-align: center;
}

#creation-menu figure img {
	width: 120px;
}

#creation-menu figure figcaption {
	margin-top: 5%;
	display: block;
}

.text-in-image>span {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}

.text-in-image>img {
    opacity: 0.6;
}
