html,body {
	font: 11pt arial;
	background-color: #fff4de;
}

html.plain, html.plain>body {
	background-color: #ffffff;
}

h1 {
	font-size: 150%;
	margin: 5px 0;
}

h2 {
	font-size: 100%;
	margin: 5px 0;
	text-align: right;
}

input[type=text],pre {
	border: 1px solid lightgray;
}

pre {
	margin: 0;
	padding: 5px;
	font-size: 10pt;
}

input[type=text],pre {
	border: 1px solid lightgray;
}

fieldset {
    border: 0px none;
}


/* General Layout */

div.widget-header {
    margin: 8px;
}

div.widget-header img {
    vertical-align: middle;
    height: 28px;
    margin-right: 5px;
}

div.view {
	width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid lightgray;
}

div.view div.message {
	width: 60%;
	margin: 5% auto;
	text-align: center;
}

div.logos {
	margin-top:10px;
	text-align:center;
}

div.logos img {
	display: inline-block;
    height: 48px;
    margin-right: 20px;
}

#network {
	width: 100%;
	height: 500px;
	border-bottom: 4px solid lightgray;
}

#loading {
	display: block;
	padding-top: 190px;
	margin-left: auto;
	margin-right: auto;
}


/* Edit menu */

div.network-manipulation-editMode {
    margin: 0;
    padding: 0;  /* Sth changes in the dev vis.js css */
    height: 30px;
}

div.network-manipulationDiv {
    background: none;
    padding: 10px 0 0 10px; /* Sth changes in the dev vis.js css */
    height: 40px;
}

div.network-manipulation-closeDiv {
    margin: 6px 12px 0 0;
}

span.network-manipulationUI {
    margin: 0;
}

div.network-seperatorLine {
	width: 0;
	margin: 5px 0 0px 0;
}

/*
 * Until this feature is implemented (if it is ever implemented), the edit edge option is disabled.
 * Delete and create a new edge instead.
 */
div.edit.edge {
    display: none;
}


/* Drag and drop creation menu */

#creation-fieldset {
	margin-top: 10px;
}

#creation-menu {
	width: 50%;
	margin: 0px auto;
}

#creation-menu figure {
	display:table-cell;
	width: 28%;
	margin: 0;
	text-align: center;
}

#creation-menu figure {
	display:table-cell;
	width: 20%;
	margin: 0;
	text-align: center;
}

#creation-menu figure img {
	width: 120px;
}

#creation-menu figure figcaption {
	margin-top: 5%;
	display: block;
}

.text-in-image>span {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}

.text-in-image>img {
    opacity: 0.6;
}


/* select with custom icons */

select {
	width: 200px;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item {
	padding: 0.5em 0 0.5em 3em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
	height: 24px;
	width: 36px;
	top: 0.1em;
}

.ui-icon.cloud {
	background: url("cloud.png") 0 0 no-repeat;
	background-size: 36px 24px;
}
.ui-icon.pc {
	background: url("PC.png") 0 0 no-repeat;
	background-size: 36px 24px;
}
.ui-icon.router {
	background: url("router.png") 0 0 no-repeat;
	background-size: 36px 24px;
}
.ui-icon.switch {
	background: url("switch.png") 0 0 no-repeat;
	background-size: 36px 24px;
}

#device-type-button {
	vertical-align: middle;
}


/* Modification dialog */

#modify-device {
	padding: 0;
}

#modify-dialog-tabs {
	border: 0;
}

#modify-dialog-tabs .ui-widget-header {
	border-width: 0 0 1px 0;
	background-image: none;
	background-color: transparent;
}

#modify-dialog-tabs .ui-corner-all {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-width: 0px;
}

#modify-dialog-tabs .ui-tabs-panel {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-width: 1px;
}


/* Terminal */

/* Ugly fix for CSS on the iPad. */
/*  http://stackoverflow.com/questions/16937070/iframe-size-with-css-on-ios */
div.iframeWrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

iframe.terminal {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
}